Baker==1.3
Jinja2==2.6
PIL==1.1.7
PyYAML==3.10
WebOb==1.2.3
WebTest==2.0.9
arrow==0.4.1
beautifulsoup4==4.3.2
colorama==0.2.7
factory-boy==2.2.1
flake8==2.0
lxml==2.3
mccabe==0.2.1
mock==1.0.1
nose==1.3.0
nose-pathmunge==0.1.2
numpy==1.7.1
pep8==1.4.6
pyflakes==0.7.3
pyparsing==2.0.1
python-dateutil==2.1
radon==0.4.3
six==1.4.1
waitress==0.8.7
webapp2==2.5.2
wsgiref==0.1.2
